# Environments
.env
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Logs
*.log
uvicorn.out.log
uvicorn.err.log

# Data
data/

# IDEs
.vscode/
.idea/
.qoder/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
